//------------------
// Fonts 
 
@font-face {
    font-family: Ral-L;
    src: url("../assets/fonts/Raleway-Light.ttf");
}
@font-face {
    font-family: Ral-R;
    src: url("../assets/fonts/Raleway-Regular.ttf");
}
@font-face {
    font-family: Play-R;
    src: url("../assets/fonts/PlayfairDisplay-Regular.otf");
}
@font-face {
    font-family: Dancing;
    src: url("../assets/fonts/DancingScript-Regular.otf");
}